* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cairo", "Almarai", sans-serif;
    direction: rtl;
}

:root {
    --radius: 5px;
}

body {
    display: flex;
    background-color: #1E1D1A;
    justify-content: center;
    width: 100%;
}

html::-webkit-scrollbar, .comments::-webkit-scrollbar, .dropdown-content::-webkit-scrollbar {
    width: 10px;
    left: 0;
}

html::-webkit-scrollbar-thumb, .comments::-webkit-scrollbar-thumb, .dropdown-content::-webkit-scrollbar-thumb {
    background-color: #3B3A37;
}

html::-webkit-scrollbar-track, .comments::-webkit-scrollbar-track, .dropdown-content::-webkit-scrollbar-track {
    background-color: white;
}

header {
    background-color: #1E1D1A;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex!important;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #FFD700;
    box-shadow: 0 0 15px #FFD700;
}

.logo {
    text-decoration: none;
    color: #FFD700;
    font-size: 2em;
    font-weight: 800;
}

    .logo:hover {
        color: #FFD700;
    }

.navigation a, button {
    text-decoration: none;
    color: #FFD700;
    font-size: 1.25em;
    font-weight: 600;
    padding-right: 30px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}
