@model ISchool.Core.ViewModels.Student_Register_VM
@{
    Layout = "_Layout-Identity";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Roboto:wght@100;300;400;500;700;900&family=Sigmar+One&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/register.css">
    <link rel="stylesheet" href="~/css/Steps.css" />
    <style>
        .input-box option:hover {
            background-color: #FFD700 !important;
            color: #1E1D1A !important;
        }
    </style>
</head>
<body class="all-stores-page-body register">
    <div class="scroller"></div>
    <div class="w-100">
        <div class="steps-container d-flex justify-content-between align-items-center">
            <span class="step before-gray">1</span>
            <span class="step before-gray c-gray">2</span>
            <span class="step before-gray c-gray">3</span>
            <span class="last-step c-gray">4</span>
        </div>
    </div>
    <div class="wrapper">
        <form id="registerForm" asp-action="Student_Register" method="post" enctype="multipart/form-data">
            <h1>انشاء حساب جديد</h1>

            <div class="input-box my-3">
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                }

                <div class="input-box my-3">
                    <label asp-for="Phone" class="form-label">رقم الطالب - يحتوى على واتس</label>
                    <input asp-for="Phone" type="text" required autocomplete="off" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="input-box my-3">
                    <label asp-for="Password" class="form-label">كلمة المرور </label>
                    <input asp-for="Password" type="password" required autocomplete="off" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="input-box my-3">
                    <label asp-for="ConfirmPassword" class="form-label">تأكيد كلمة المرور</label>
                    <input asp-for="ConfirmPassword" type="password" required autocomplete="off" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="input-box my-3">
                    <label asp-for="Name" class="form-label">اسم الطالب</label>
                    <input asp-for="Name" type="text" required autocomplete="off" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="input-box my-3">
                    <label asp-for="Grade" class="form-label">السنة الدراسية</label>
                    <select id="courseSelect" asp-for="Grade" aria-label="Default select example" onchange="updateLessonOptions()">
                    </select>
                </div>
                <div id="Department" class="input-box my-3">
                    <label asp-for="Department" class="form-label">الشعبة </label>
                    <select id="lessonSelect" asp-for="Department" aria-label="Default select example">
                    </select>
                </div>
                <div class="input-box my-3">
                    <label asp-for="SecondLang" class="form-label">اللغة الثانية</label>
                    <select asp-for="SecondLang" aria-label="Default select example">
                        <option value="اللغة الفرنسية">فرنساوي</option>
                        <option value="اللغة الألمانية">ألماني</option>
                        <option value="اللغة الايطالية">إيطالي</option>
                    </select>
                </div>
                <div class="input-box my-3">
                    <label asp-for="Par_Phone" class="form-label">واتس اب ولي الأمر - اختياري</label>
                    <input asp-for="Par_Phone" type="text" autocomplete="off" />
                    <span class="text-danger"></span>
                </div>
                <button type="submit" style="text-align:center;" class="btn cancel col-5  my-2">انشاء الحساب</button>
        </form>
    </div>

   @*  <script src="~/js/register.js"></script> *@
   <script>
               var data1 = '[{ "name": "الصف الأول الثانوى", "lessons": ["عام"] }, {"name": "الصف الثاني الثانوى","lessons": ["علمي", "أدبي"]}, {"name": "الصف الثالث الثانوى", "lessons": ["أدبي", "علمي علوم","علمي رياضيات"]}]';
        var data = JSON.parse(data1);
        // Get the lesson select element
        var lessonSelect = document.getElementById("lessonSelect");
        var Courses = document.getElementById("courseSelect");
        // Add course as options in first dropdown list
        for (let i = 0; i < data.length; i++) {
            addOption(Courses, data[i].name, data[i].name);
        }
        // Make the default options in the second dropdown list [first course options]
        for (let j = 0; j < data[0].lessons.length; j++) {
            addOption(lessonSelect, data[0].lessons[j], data[0].lessons[j]);
        }

        function updateLessonOptions() {
            // Get the selected course value
            var selectedCourse = document.getElementById("courseSelect").value;

            // Clear existing options
            lessonSelect.innerHTML = "";
            //Add the New lessons on change course
            for (let i = 0; i < data.length; i++) {
                if (selectedCourse === data[i].name) {
                    for (let j = 0; j < data[i].lessons.length; j++) {
                        addOption(lessonSelect, data[i].lessons[j], data[i].lessons[j]);
                    }
                }
            }
            if (lessonSelect.innerHTML == "") {
                document.getElementById("Department").style.display = "none";

            }
            else {
                document.getElementById("Department").style.display = "block";

            }
        }

        function addOption(selectElement, value, text) {
            var option = document.createElement("option");
            option.value = value;
            option.text = text;
            selectElement.add(option);
        }
   </script>
</body>
</html>